.modules
{
    width: 4rem;
    height: 4rem;
    background-color: #5FCFE3;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

@media (min-width: 992px)
{
    .modules
    {
        width: 8rem;
        height: 8rem;
    }
}

.title
{
    position: absolute;
    z-index: 1000;
    background-color: #52657A;
    width: 10rem;
    left: -2rem;
    top: 4rem;
    border-radius: 5px;
    padding: 0.1rem .6rem;
    color: #EAF2FA;
    display: none;
}

@media (max-width: 992px)
{
    button:hover + .title {
        display: block;
    }
}

.main-header h1 button
{
    margin-left: 1rem;
    margin-top: 0.5rem;
}

/* Update Modules css */

.container
{
    width: 80%;
}

th, td
{
    padding-left: 2rem!important;
}

.table thead th, .table td
{
    border: none;
}

.table .fa
{
    color: dimgrey;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.table .fa-times
{
    color: darkred;
}

/* Modal */

.modal-content
{
    margin-top: 30vh;
}

.modal .row
{
    margin-right: 1rem;
}

.modal h6
{
    margin-top: 0.6rem;
}

/* Alert */

.alert
{
    position: fixed;
    height: 3rem;
    width: 40vw;
    margin-left: calc((100vw - 40vw)/2);
    z-index: 1000;
    margin-top: 2rem;
    border: 2px solid;
    display: none;
}

