.modules
{
    width: 4rem;
    height: 4rem;
    background-color: #5FCFE3;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

@media (min-width: 992px)
{
    .modules
    {
        width: 8rem;
        height: 8rem;
    }
}

.title
{
    position: absolute;
    z-index: 1000;
    background-color: #52657A;
    width: 10rem;
    left: -2rem;
    top: 4rem;
    border-radius: 5px;
    padding: 0.1rem .6rem;
    color: #EAF2FA;
    display: none;
}

@media (max-width: 992px)
{
    button:hover + .title {
        display: block;
    }
}

