#rankdiv
{
    padding-bottom: 2rem;
}

#img
{
    max-width: 100%;
    max-height: 11rem;
}

#btn
{
    background-color: Transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn-group
{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 3rem;
}

#settings_btn
{
    margin-top: 3rem;
    float: right;
}
