.container-fluid
{
    padding: 3rem;
    padding-left: 5rem;
}

.main-header
{
    margin-bottom: 2rem;
}

.rankdiv
{

}

#rankdiv
{
    padding-bottom: 2rem;
}

#img
{
    max-width: 100%;
    max-height: 17rem;
}