.firstcol
{
    width: 15rem;
    white-space: nowrap;
}

.main-header h1 button
{
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.table thead th
{
    border-top: none;
}

.table td
{
    border-right: 1px solid lightgray;
    padding: 0;
    height: 3rem;
}

.table tbody button
{
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: Transparent;
    border: none;
    outline:none;
}

.table-responsive>.fixed-column {
    position: absolute;
    display: inline-block;
    width: 15rem;
    border-right: 1px solid #ddd;
}
@media(min-width:5900px) {
    .table-responsive>.fixed-column {
        display: none;
    }
}