
.main-header h1 button
{
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.table thead th
{
    border-top: none;
}

.right table td
{
    border-right: 1px solid lightgray;
    padding: 0;
    height: 3rem;
}

.right table tbody button
{
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: Transparent;
    border: none;
    outline:none;
}

.left table th
{
    height: 3rem;
}

.left
{
    float: left;
}

.right
{
    width: calc(100% - 15rem);
    overflow-x: scroll;
    float: right;
}

h6
{
    font-size: .9rem;
}

.modal-content
{
    margin-top: 30vh;
}

.modal .row
{
    margin-right: 1rem;
}

.text
{
    text-align: left;
    padding-left: 2rem;
    padding-top: 0.7rem;
}
