
.main-header-2
{
    border-bottom: 1px solid #5FCFE3;
    padding-top: 1rem;
    width: calc(100vw - 8rem);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#rankdiv
{
    padding-bottom: 2rem;
}

#img
{
    max-width: 100%;
    max-height: 11rem;
}

#btn
{
    background-color: Transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn-group
{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 3rem;
}

#settings_btn
{
    margin-top: 3rem;
    float: right;
}

.modal-content
{
    margin-top: 20vh;
    width: 25rem;
}

.onshore, .offshore, .boating
{
    width: 10rem;
    height: 7rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: calc((100% - 10rem)/2);
}

.onshore, .offshore
{
    margin-bottom: 2rem;
}
