
body
{
    background: #ededed;
}

.container-fluid
{
    padding: 1rem;
}

.profile
{
    background: rgba(102, 166, 238, 1);
    padding: 1rem;
    border-radius: 5px;
}

.password_update
{
    background: rgba(131, 199, 63, 1);
    padding: 1rem;
    border-radius: 5px;
}

.header
{
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.col-5, .col-7
{
    margin-bottom: 1rem;
}

.password
{
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    height: 2rem;
}

.update
{
    width: 100%;
}

.logout
{
    width: calc(100vw - 2rem);
    background-color: red;
    border: 1px solid darkred;
    color: white;
}